package view

import (
  "fmt"
  "github.com/senomas/gohtmx/store"
)
 
templ UserListView(c store.UserList) {
  <table>
    for _, u := range c.Users {
      <tr>
        <td>{ *u.Name }</td>
        <td>{ *u.Email }</td>
      </tr>
    }
    <tr>
      <td>Total { fmt.Sprintf("%v", c.Total) }</td>
    </tr>
  </table>
}
